<!-- <ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul> -->

<div class="card bg-dark text-white">
  <div class="card-header" *ngIf="!cliente.id else elseBlockCrear">{{'Crear Cliente' | translate}}</div>
  <ng-template #elseBlockCrear>
    <div class="card-header">{{'Editar Cliente' | translate}}</div>
  </ng-template>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">{{'Nombre' | translate}}</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="4" #nombre="ngModel"> <!-- required minlength="4" -->
          <div class="alert1 alert-danger1" *ngIf="nombre.invalid && clienteForm.submitted">
            <div *ngIf="nombre.errors.required">
              {{'Nombre es requerido' | translate}}
            </div>
            <div *ngIf="nombre.errors.minlength">
              {{'Nombre debe tener al menos 4 caracteres' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">{{'Apellido' | translate}}</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required #apellido="ngModel"> <!-- required -->
          <div class="alert1 alert-danger1" *ngIf="apellido.invalid && clienteForm.submitted">
            <div *ngIf="apellido.errors.required">
              {{'Apellido es requerido' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">{{'Email' | translate}}</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel"> <!-- required email -->
          <div class="alert1 alert-danger1" *ngIf="email.invalid && clienteForm.submitted">
            <div *ngIf="email.errors.required">
              {{'Email es requerido' | translate}}
            </div>
            <div *ngIf="email.errors.email">
              {{'Email debe tener un formato válido' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">{{'Fecha' | translate}}</label>
        <div class="col-sm-6">
          <input [matDatepicker]="miDatepicker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" required #createAt="ngModel" style="display:inline; width:300px;">
          <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>

          <div class="alert1 alert-danger1" *ngIf="createAt.invalid && clienteForm.submitted">
            <div *ngIf="createAt.errors.required">
              {{'Fecha es requerida' | translate}}
            </div>
          </div>
        </div>

      </div>

      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2">{{'Región' | translate}}</label>
        <div class="col-sm-6">
          <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" required #region="ngModel" style="width:500px;">
            <option [ngValue]="undefined">--- {{'selecionar una región' | translate}} ---</option>
            <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
          </select>

          <div class="alert1 alert-danger1" *ngIf="region.invalid && clienteForm.submitted">
            <div *ngIf="region.errors.required">
              {{'Region es requerida' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock">{{'Crear' | translate}}</button> <!--[disabled]="!clienteForm.form.valid"-->

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>{{'Editar' | translate}}</button> <!--[disabled]="!clienteForm.form.valid"-->
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
