<form class="border border-light p-5" #signupForm="ngForm" id="signupForm" style="width: 600px;">

    <p class="h4 mb-4" *ngIf="!usuario.id else elseBlockRegistrase">{{'Registrarse' | translate}}</p>

    <ng-template #elseBlockRegistrase>
      <p class="h4 mb-4">{{'Actualizar' | translate}}</p>
    </ng-template>


            <div class="field-wrapper">
              <input type="text" name="nombre" [(ngModel)]="usuario.nombre" required minlength="4" #nombre="ngModel">
              <div class="field-placeholder" *ngIf="!usuario.id"><span>{{'Nombre' | translate}} *</span></div>
            </div>
            <div class="alert1 alert-danger1" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched) || nombre.invalid && signupForm.submitted">
              <div *ngIf="nombre.errors.required">
                {{'Nombre es requerido' | translate}}
              </div>
              <div *ngIf="nombre.errors.minlength">
                {{'Nombre debe tener al menos 4 caracteres' | translate}}
              </div>
            </div>



          <div class="field-wrapper">
            <input type="text" [(ngModel)]="usuario.apellido"  name="apellido" required #apellido="ngModel"> <!-- required -->
            <div class="field-placeholder" *ngIf="!usuario.id"><span>{{'Apellido' | translate}} *</span></div>
          </div>
            <div class="alert1 alert-danger1" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched) || apellido.invalid && signupForm.submitted">
              <div *ngIf="apellido.errors.required">
                {{'Apellido es requerido' | translate}}
              </div>
            </div>





      <div class="field-wrapper">
        <input type="text" [(ngModel)]="usuario.username" name="username" required #username="ngModel"> <!-- required -->
        <div class="field-placeholder" *ngIf="!usuario.id"><span>{{'Usuario' | translate}} *</span></div>
      </div>
        <div class="alert1 alert-danger1" *ngIf="username.invalid && (username.dirty || username.touched) || username.invalid && signupForm.submitted">
          <div *ngIf="username.errors.required">
            {{'Usuario es requerido' | translate}}
          </div>
        </div>



    <div class="field-wrapper">
      <input type="email" [(ngModel)]="usuario.email" name="email" required email #email="ngModel"> <!-- required email -->
      <div class="field-placeholder" *ngIf="!usuario.id"><span>{{'Email' | translate}} *</span></div>
    </div>
      <div class="alert1 alert-danger1" *ngIf="email.invalid && (email.dirty || email.touched) || email.invalid && signupForm.submitted">
      <div *ngIf="email.errors.required">
        {{'Email es requerido' | translate}}
      </div>
      <div *ngIf="email.errors.email">
        {{'Email debe tener un formato válido' | translate}}
      </div>
    </div>



    <div class="field-wrapper">
      <input type="password" [(ngModel)]="usuario.password" name="password" required #password="ngModel"> <!-- required -->
      <div class="field-placeholder" *ngIf="!usuario.id"><span>{{'Password' | translate}} *</span></div>
    </div>
      <div class="alert1 alert-danger1" *ngIf="password.invalid && (password.dirty || password.touched) || password.invalid && signupForm.submitted">
        <div *ngIf="password.errors.required">
          {{'contraseña es requerida' | translate}}
        </div>
      </div>

    <!-- <br>

    <input type="password" class="form-control" [(ngModel)]="usuario.username" placeholder="{{'Repetir password' | translate}} *" name="passwordRepeat" required #passwordRepeat="ngModel">
    <div class="alert1 alert-danger1" *ngIf="passwordRepeat.invalid && (passwordRepeat.dirty || passwordRepeat.touched) || passwordRepeat.invalid && signupForm.submitted">
      <div *ngIf="passwordRepeat.errors.required">
        {{'contraseña es requerida' | translate}}
      </div>
    </div> -->


    <!-- <br>
    <input type="submit" class="btn btn-success btn-send" (click)='create()' value="{{'Crear usuario' | translate}}"> -->




    <!-- <div class="form-group" *ngIf="authService.hasRole('ROLE_ADMIN')">
        <select id="form_need" name="roles" class="form-control" [(ngModel)]="usuarioRol.role_id" required #roles="ngModel">
            <option [ngValue]="undefined">--- {{'selecciona un rol' | translate}} * ---</option>
            <option value="1">{{'admin' | translate}}</option>
            <option value="2">{{'user' | translate}}</option>
        </select>
        <div class="alert1 alert-danger1" *ngIf="roles.invalid && (roles.dirty || roles.touched) || roles.invalid && signupForm.submitted">
          <div *ngIf="roles.errors.required">
            {{'Motivo es requerido' | translate}}
          </div>
        </div>
    </div> -->


    <mat-form-field>
      <select matNativeControl class="custom-select" name="roles" class="form-control" [(ngModel)]="usuarioRol.role_id" required #roles="ngModel">
        <option [ngValue]="undefined">{{'selecciona un rol' | translate}} *</option>
        <option value="1">{{'admin' | translate}}</option>
        <option value="2">{{'user' | translate}}</option>
      </select>
    </mat-form-field>



    <div class="form-group row">
      <div class="col-sm-6">
        <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!usuario.id else elseBlock">{{'Crear usuario' | translate}}</button> <!--[disabled]="!clienteForm.form.valid"-->

        <ng-template #elseBlock>
          <button class="btn btn-primary" role="button" (click)='update()'>{{'Editar usuario' | translate}}</button> <!--[disabled]="!clienteForm.form.valid"-->
        </ng-template>
      </div>
    </div>

</form>
